@media (max-width: 1500px) {
    #list {
        gap: 4%;
    }
}

@media (max-width: 1420px) {
    .close-btn {
        left: 73%;
    }

    .title_chicken_picture img {
        width: 96%;
    }

    .justapic {
        margin-top: 1%;
    }
    footer {
        gap: 18%;
    }
}

@media (max-width: 1305px) {
    .close-btn {
        left: 72%;
    }
    .title_chicken_picture img {
        width: 93%;
    }
    .justapic {
        margin-top: 2%;
    }
    #list {
        gap: 4%;
    }
    #list h2 {
        font-size: 250%;
    }
}

@media (max-width: 1200px) {
    .justapic {
        margin-top: 3%;
    }
    #list {
        gap: 4%;
    }
    #list h2 {
        font-size: 230%;
    }
    footer {
        gap: 16%;
    }
    .footer-section h2 {
        font-size: 130%;
    }
    .footer-section h3 {
        font-size: 130%;
    }
}
@media (max-width: 1100px) {
    .close-btn {
        left: 71%;
    }
    #message h3 {
        font-size: 130%;
    }
    .justapic {
        margin-top: 7%;
    }
    #list h2 {
        font-size: 210%;
    }
}

@media (max-width: 1000px) {
    .close-btn {
        left: 71%;
    }
    .justapic {
        margin-top: 8%;
    }
    #list h2 {
        font-size: 190%;
    }
    footer {
        gap: 14%;
    }
    .footer-section h2 {
        font-size: 120%;
    }
    .footer-section h3 {
        font-size: 120%;
    }
    .close-btn {
        top: 10%;
    }
}

@media (max-width: 768px) {
    .close-btn {
        top: 5%;
    }
}

@media (max-width: 480px) {
    .close-btn {
        top: 1%;
    }
}
